<div class="login-form">
    <h2>Iniciar sesi칩n</h2>
    <form id="login-form" method="post">
      <label for="user">Usuario:</label>
      <input type="text" id="user" name="user" required>
  
      <label for="password">Contrase침a:</label>
      <input type="password" id="password" name="password" required>
  
      <button type="submit">Iniciar sesi칩n</button>
    </form>
      <a href="/github"><button id="github">Iniciar Sesi칩n con GitHub</button></a>
  </div>