.signup-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Agregado para incluir el padding en el ancho */
}

.signup-form h2 {
  text-align: center;
}

.signup-form label {
  display: block;
  margin-bottom: 10px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; /* Agregado para incluir el padding en el ancho */
}

.signup-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.signup-form button[type="submit"]:hover {
  background-color: #45a049;
}