.container {
  max-width: 1200px; /* Establece el ancho máximo deseado */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  padding: 20px; /* Agrega un espacio de relleno alrededor del contenido */
  box-sizing: border-box; /* Incluye el espacio de relleno en el ancho máximo */
}

.menu-container {
  text-align: center;
}

.menu-link {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

#menu-boton:hover {
  background-color: #c82333;
}

.user-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.user-info {
  text-align: center;
}

.welcome-msg {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-data {
  margin-bottom: 5px;
}

h1 {
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  list-style: none;
  padding: 0;
}

.product-list li {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.product-image img {
  width: 100%;
  border-radius: 5px;
}

.product-details {
  flex: 1;
}

.add-to-cart-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #45a049;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}